form {
    width: 250px;
    border: 2px solid black;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.form_field {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.form_submit {
    margin-top: 20px;
    text-align: end;
}